.nav_list {
    display: flex;
    list-style: none;
    background-color: black;
    justify-content: center;
    gap: 5rem;
    font-size: 20px;
    font-weight: 700;
    padding-right: 20px;
    margin: 0px 0px;
    padding: 15px 15px;
}

.welcome-header {
    color: white;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    padding-top: 150px;
}

.welcome-header__name {
    font-size: 75px;
}

.welcome-header__developer-type {
    font-size: 20px;
}

.welcome-header__sns-icon {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 2rem;
}
